@import '../../styles/main';

.table-btn {
  cursor: pointer;
  display: flex;
  gap: 9px;
  align-items: center;

  p {
    font-family: "Poppins";
    color: $title;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .down {
    width: 10px;
    height: 5px;
  }

  .up {
    width: 10px;
    height: 5px;
    transform: scaleY(-1);
  }
}

// transform: scaleY(-1);